.header__container {
	width: 100%;
	

	// HEADER - NAVBAR
	.header {
		display: flex;
		min-height: 15vh;
		justify-content: space-between;
		padding: 30px 40px;
		background-color: #e5c47c;
		
		.title {
			color: white;
			font-weight: 400;
			font-size: 26px;
			letter-spacing: 1px;
			z-index: 10;
		}

		.navbar {
			display: flex;
			justify-content: space-between;
			gap: 20px;
			color: white;
			font-size: 20px;

			.navLinks {
				color: white;
			}
		}
	}

	// ACA ESTA EL HER0
	.hero {
		min-height: 100vh;
		padding: 18% 10%;
		color: white;
		font-size: 2.2em;
		letter-spacing: 1px;
		font-weight: 400;
		text-align: center;
		background-color: #e5c47c;

		//CAMBIOS X YISUS
		// Lo comento porque no lo pude arreglar, agrego un fondo de color mientras. Agos
		// display: flex;
		// flex-flow: column;

		// #imagen_fondito{
		// 	position: fixed;
		// 	size: 65%;
		// 	z-index: -2;
		// 	top: -25vh;
		// 	align-self: center;
		// 	opacity: 50%;
		// 	filter: brightness(65%);
		// }

		.button {
			margin: 10px auto;
			padding: 25px 10px;
			width: 30%;
			display: block;
			font-size: 20px;
			background-color: white;
			color: $pink;
		}
	}
}
