.rec{
    display: flex;
    flex-flow: column;
    align-items: center;
    border: 3pt solid black;
    width: fit-content;
    margin: 0 auto;
    .title{
        margin-top: 0.5em;
        color: rgba(128, 128, 128, 0.445);
    }
    &_h1{
        margin-top: 0.5em;
        font-size:3em;
    }

    &_contenedor{
        margin-top: 2em;
        display: flex;
        width: 80%;
        justify-content: space-between;
    }
}
